.feed-card {
  width: 700px;
  border: 1px solid rgba(219, 219, 219);
  background-color: white;

  .feed-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px;

    .feed-header-left {
      display: flex;
      gap: 8px;
      align-items: center;

      .feed-header-account-img {
        border-radius: 60%;
        width: 30px;
      }
    }
    .feed-header-right {
      display: flex;
      gap: 8px;
      align-items: center;

      .feed-header-menubar {
        width: 30px;
      }
    }
  }
  .feed-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    border-top: 1px solid rgba(219, 219, 219);
    border-bottom: 1px solid rgba(219, 219, 219);

    .feed-img {
      max-width: 100%;
      max-height: 100%;
      background-size: contain;
    }
  }
  .feed-content-wrapper {
    .feed-menubar-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 12px;
      padding-bottom: 0px;

      .feed-menubar-left {
        display: flex;
        gap: 50px;

        .menubar-icon {
          width: 30px;
          position: absolute;
          margin-top: 0px;
        }
      }

      .feed-menubar-right {
        margin-right: 30px;

        .menubar-icon {
          width: 30px;
          position: absolute;
          margin-top: 0px;
        }
      }
    }
    .feed-like-wrapper {
      margin-top: 40px;
      margin-left: 15px;

      .feed-like-account-img {
        border-radius: 60%;
        width: 30px;
      }

      .like-num {
        display: inline;
        display: flex;
        margin-top: -30px;
        margin-left: 40px;
      }
    }
  }
  .feed-comment-wrapper {
    .feed-comment-list {
      padding: 12px;

      .time {
        color: grey;
        margin-top: 30px;
        margin-left: 2px;
      }
    }
    .feed-comment-input-wrapper {
      display: flex;
      border-top: 1px solid rgba(219, 219, 219);

      .feed-comment-input {
        flex: 1;
        padding: 12px;
        font-size: 16px;
        border: none;
      }

      .feed-comment-input-button {
        border: none;
        background-color: white;
        cursor: pointer;
        color: #c4e1fb;
      }
    }
  }
}
